/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* الصفحة */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0e7ff, #f8fafc);
}

/* الكارد */
body > div {
  background: white;
  padding: 25px;
  border-radius: 18px;
  width: 400px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

/* input */
input {
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 8px rgba(99, 102, 241, 0.3);
}

/* النتائج */
p {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #f5f7ff;
  transition: 0.2s;
  font-size: 14px;
}

/* hover */
p:hover {
  background: #e0e7ff;
  transform: translateX(5px);
}
